<table>
    <tr>
        <td>Question ID</td>
        <td><input type="number" data-bind="value: QuestionID" /></td>
    </tr>
    <tr>
        <td>Question</td>
        <td><input type="text" data-bind="value: Question1" /></td>
    </tr>
    <tr>
        <td>Answer A</td>
        <td><input type="text" data-bind="value: AnswerA" /></td>
    </tr>
    <tr>
        <td>Answer B</td>
        <td><input type="text" data-bind="value: AnswerB" /></td>
    </tr>
    <tr>
        <td>Answer C</td>
        <td><input type="text" data-bind="value: AnswerC" /></td>
    </tr>
    <tr>
        <td>Answer D</td>
        <td><input type="text" data-bind="value: AnswerD" /></td>
    </tr>
    <tr>
        <td>Correct</td>
        <td><input type="text" data-bind="value: Correct" /></td>
    </tr>
    <tr>
        <td>Category ID</td>
        <td><input type="number" data-bind="value: CategoryID" /></td>
    </tr>
</table>
<input type="button"  value="Add" data-bind="click: addQuestion" />