@Scripts.Render("~/bundles/myBundle")

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>
<p>Peepeepee dumdumdum</p>

<div id="displayNode">@Html.Partial("QuestionsList")</div>
<br />
<div id="createNode">@Html.Partial("CreateQuestion")</div>

